<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://wallpapers.com/images/hd/iron-man-pictures-k83lqhe6vnh95b1m.jpg" alt="" height="250">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <a href="#">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing
        elit Lorem ipsum, dolor sit amet consectetur adipisicing elit
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Ipsum provident deleniti praesentium impedit est
      </p>
    </a>

  </div>
  </div>
